{% extends 'base.html.twig' %}
{% block title %}  Азтан шалгаруулах !{% endblock %}

        {% block stylesheets %}


            <link rel="icon" type="image/png" href="/images/icons/gmobile.ico"/>
            <link rel="stylesheet" type="text/css" href="css/style.css">

        {% endblock %}

        {% block javascripts %}


            <script src="js/script.js"></script>

        {% endblock %}

        {% block body %}
                <div id="chart"></div>
                <div id="question"><h1></h1></div>
<h1>
    <center> Хүрдээ эргүүлээрэй <br>
        🧐🤔🧐 <img src="/images/icons/gmobile.ico" style="width:30px; height:30px;"></center>
    <br>

    <div id="mainbox" class="mainbox">
        <div id="box" class="box">
            <div class="box1">
            {% for data in even %}
                <span class="span{{ loop.index }}"><b> {{ data.name }}</b></span>
            {% endfor %}
            </div>

            <div class="box2">
           {% for dataodd in odd %}
               <span class="span{{ loop.index }}"><b> {{ dataodd.name }}</b></span>
                 {% endfor %}
			</div>
        </div>

        <button class="spin" onclick="myfunction()">ДАР</button>
        <a class="btn btn-primary" href="{{ path('create') }}"> Буцах </a>
    </div>

    {% endblock %}
