{% extends 'base.html.twig' %}

{% block title %}Бүртгүүлэх{% endblock %}

{% block body %}
    {# <h1>Register</h1> #}

    {# {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}


<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-b-160 p-t-50">

<h3 class="mt-5 mb-5" style="color:white; text-align=center; font-size:36px;"> 

Бүртгүүлэх
</h3>
{{form_start(registrationForm)}}

<div class="form-group"> 

{{form_label(registrationForm.email)}}
{{form_widget (registrationForm.email,{'attr':{'class':'form-control'}}  ) }}
</div>

<div class="form-group">

{{form_label(registrationForm.plainPassword)}}
{{form_widget (registrationForm.plainPassword, {'attr':{'class':'form-control'}})}}

</div>


{# <div class="form-group">
{{form_label(registrationForm.agreeTerms)}}
{{form_widget (registrationForm.agreeTerms, {'attr':{'class':'form-control'}})}}
</div> #}


<button type="submit" class="login100-form-btn"> Бүртгүүлэх </button>
{{ form_end(registrationForm)}}

</div>
</div>
</div>
{% endblock %}
