{% extends "base.html.twig" %}


{% block body %}
    
 <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5"> Тохиролын мэдээлэл </h3>
         
            <div class="col-md-6 offset-md-3">

                {{ form_start(form) }}

                <div class="form-group">

                    {{ form_label(form.name) }}
                    {{ form_widget (form.name, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.quantity) }}
                    {{ form_widget (form.quantity, {'attr':{'class':'form-control'}}) }}
                </div>
                {# <div class="form-group">
                    {{ form_label(form.chance) }}
                    {{ form_widget (form.chance, {'attr':{'class':'form-control'}}) }}
                </div> #}
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-white"> Нэмэх </button>
                </div>
                {{ form_end(form) }}



            </div>


            
        </div>
    </div>

{% endblock %}
