{% extends "base.html.twig" %}

{% block body %}
    
 <div class="limiter">
        <div class="container-login100">
              <div class="wrap-login100 p-b-160 p-t-50">
            <h3 class="mt-5 mb-5" style="color:white; text-align:center; font-size:36px;"> Тохирол нэмэх </h3>
         
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget (form.name, {'attr':{'class':'form-control'}}) }}

                </div>

                <div class="form-group">
                    {{ form_label(form.quantity) }}
                    {{ form_widget (form.quantity, {'attr':{'class':'form-control'}}) }}
                </div>

                {# <div class="form-group">
                    {{ form_label(form.chance) }}
                    {{ form_widget (form.chance, {'attr':{'class':'form-control'}}) }}
                </div> #}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"> Нэмэх </button>
                </div>
                {{ form_end(form) }}
            </div>   
        </div>
    </div>


{% endblock %}
