{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
   {% for message in app.flashes('notice') %}
                <div class="alert alert-success mt-4 mb-4">
                    {{ message }}
                </div>
            {% endfor %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Тохиролын нэр</th>
      <th scope="col">Тоо ширхэг </th>
      <th scope="col">Боломж </th>
    </tr>
  </thead>
  <tbody>
  
{% for data in list %}
    <tr>
      <th scope="row"> {{data.id}} </th>
      <td> {{data.name}} </td>
      <td>{{data.quantity}}</td>
      <td>{{data.chance}}</td>

<td> 
<a class="btn btn-warning" href="{{path('update', {'id':data.id}) }}"> Засах  </a>
<a class="btn btn-danger" href="{{path('delete', {'id':data.id}) }}"> Устгах  </a>
</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


  <a class="btn btn-primary" href="{{path('create') }}"> Нэмэх </a>
   <a class="btn btn-primary" href="{{path('home') }}"> Хүрд эргүүлэх </a>
 </div>
{% endblock %}
